body {
    font-family: 'Droid Sans', sans-serif;
}


h1 {
    font-size: 90px;
    text-align: center;
    margin: 20px 20px 0px 20px;
}

.blurb {
    width: 800px;
    text-align: center;
    margin: auto;
}

p {
    display: inline-block;
}

.example {
    text-align: center;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

#pictures {
    position: relative;
    text-align: center;
}

img{
    margin: 10px;
}
